[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
parglare = "*"
pydantic = {extras = ["dotenv", "email"], version = "<2.0,>=1.0"}
tomlkit = "*"
semver = "*"
typer = "*"
pyyaml = "*"
pluggy = "*"
networkx = "*"
numpy = "*"
cytoolz = "*"
nested-diff = "*"
types-pluggy = "*"

[dev-packages]
pytest = "*"
tox = "*"
tox-pipenv = "*"
pip = "*"
setuptools = "*"
setuptools-scm = "*"
wheel = "*"
build = "*"
twine = "*"
pipenv = "*"
debugpy = "*"

[requires]
python_version = "3.10"

[docs]
sphinx = "*"
myst-parser = "*"
