[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
bump4version = {call = "bump4version.cli:main()"}
bump2version = {call = "bump4version.cli:main()"}
bumpversion = {call = "bump4version.cli:main()"}
bump_major = {call = "bump4version.cli:main(('major',))"}
bump_minor = {call = "bump4version.cli:main(('minor',))"}
bump_patch = {call = "bump4version.cli:main(('patch',))"}

[packages]
parglare = "*"
pydantic = {extras = ["dotenv", "email"], version = "<2.0,>=1.0"}
tomlkit = "*"
semver = "*"
typer = "*"
pyyaml = "*"
pluggy = "*"
networkx = "*"
numpy = "*"
cytoolz = "*"
nested-diff = "*"
types-pluggy = "*"

[dev-packages]
pytest = "*"
tox = "*"
tox-pipenv = "*"
pip = "*"
setuptools = "*"
setuptools-scm = "*"
wheel = "*"
build = "*"
twine = "*"
pipenv = "*"
debugpy = "*"
bump4version = "*"

[requires]
python_version = "3.10"

[docs]
sphinx = "*"
myst-parser = "*"
